@model IEnumerable<GummyKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummy Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gummy Kingdom</h1>
@*<h4>@Html.DisplayNameFor(model => model.Name)</h4>*@

<div class="container">
    <div class="flex-container">
        @foreach (var listProduct in Model)
        {
            <div class="flex-object">
                <div class="panel panel-default panel-front">
            <div class="product panel-heading">
                <h4>@Html.DisplayFor(modelProduct => listProduct.Name)</h4>
                <img src="@Html.DisplayFor(modelProduct => listProduct.Image)" alt="Alternate Text" />
            </div>


            <div class="panel-body">

                <p>Name: @Html.DisplayFor(modelProduct => listProduct.Name) | @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })</p>
            </div>
            </div>
            </div>
        }

    </div>
</div>





<p>@Html.ActionLink("Add new Product", "Create")</p>

